* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container-md {
    max-width: 76.8rem;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: sans-serif;
}

section {
    margin-top: 6rem; 
}

h1 {
    font-size: 3.6rem;
    font-family: serif;
}

h2 {
    font-size: 2.8rem;
    font-family: serif;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2.2rem;
    font-family: serif;
    margin-bottom: 1.6rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: sans-serif;
}

a {
    color: #4CAF50;
}

ul {
    margin-left: 3.2rem;
}

li {
    margin-bottom: 1rem;
}

dt {
    font-weight: 700;
    /* color: #2E7D32; */
    margin-bottom: 0.8rem;
}

dd {
    color: #333333;
    background-color: #fafafa;
    padding: 1rem 1.5rem;
    margin-bottom: 1.6rem;
}

img {
    width: 100%;
    display: block;
    margin-bottom: 1.6rem;
}

.medical-disclaimer {
    background-color: #fff1f1;
    padding: 2rem 3rem;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    padding: 0.8rem 1.6rem;
}
