* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: sans-serif;
    color: #333;
}

.container-lg {
    max-width: 99.2rem;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.container-md {
    max-width: 76.8rem;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    color: #111;
}

/*
h2 {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    color: #111;
    border-left: 4px solid #2c5f4b; 
    padding: 0.8rem 1.6rem;
}
*/

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #4a7c59;
    margin-bottom: 2.4rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #4a7c59;
    display: inline-block;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

ul {
    margin-left: 3.2rem;
    margin-bottom: 1.6rem;
}

li {
    margin-bottom: 0.8rem;
}

img {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
    margin-top: 1.6rem;
}

th {
    text-align: left;
    padding: 1.6rem;
    background-color: #f8f9fa;
    color: #555;
    font-weight: 600;
    border-bottom: 2px solid #e2e8f0;
}

td {
    padding: 1.6rem;
    border-bottom: 1px solid #e2e8f0;
    vertical-align: top;
}


@media (max-width: 992px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}

